<!DOCTYPE html>
<html lang="en">
  <head>
  
    <%- include("../components/head") %>
    
  </head>
  <body>
  
    <%- include("../components/nav") %>
    
    <section class="container px-6 py-16 mx-auto">
      <div class="items-center lg:flex">
        <div class="flex items-center justify-center md:w-48">
        </div>
        <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
            <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl">
              <img class="h-10" src="/img/banner.svg" alt="Glatic Games"/>
            </h1>
            <p class="mt-4 text-gray-400">An open-source unblocked games website built with simplicity in mind.</p>
          </div>
        </div>
        <div class="flex items-center justify-center md:w-32">
        </div>
        <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
          <img class="w-96" src="/img/game-world.svg" alt="Game World"/>
        </div>
        <div class="flex items-center justify-center md:w-48">
        </div>
      </div>
    </section>

    <section>
      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center md:w-48">
          </div>
         
          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container px-6 py-8 mx-auto">
        <div class="items-center lg:flex">
          <div class="flex items-center justify-center md:w-48">
          </div>
          <div class="lg:w-1/2">
              <h2 class="text-3xl font-bold text-gray-100">Powered by namecheap</h2><br/>
              <h3 class="text-1xl font-semibold text-gray-300">What is namecheap?</h3>

              <p class="mt-4 text-gray-400 lg:max-w-md">
              namecheap is a domain and a hosting server with dns, that helps us provide our things <u><a target="_blank" rel="noreferrer" href="https://namecheap.com"></a>You can read more about it here</a></u>.
              </p>


          <div class="mt-8 lg:mt-0 lg:w-1/2">
            <div class="flex items-center justify-center lg:justify-end">
              <div class="max-w-lg">
               
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>
    </section>
    
    <%- include("../components/footer") %>
    
  </body>
</html>