<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Partners</h1>

    <section>
      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center md:w-48">
          </div>

          <div>
            <div class="content flex py-2">
              <img class="w-8 h-8" src="https://cdn.glitch.global/82c5292a-89b3-4a53-84e2-abbc0fa27724/Screenshot_2023-03-01_2.04.42_PM-removebg-preview.png?v=1677697588516" alt="UBG100"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Skool</h3>
              </div>
            </div>
            <p class="text-gray-200">
              <b>Skool</b> is a hub for the best games on the internet, all available for free! There is so much for you to choose from.<br><br>
              Website: <a href="https://schoolwork.site" target="_blank" class="text-blue-500 hover:underline">https://skool.pages.dev/</a><br>
              Discord: <a href="https://discord.gg/skool" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/skool</a>
           